.label-wrapper {
  float: left;
  height: 100px;
  position: relative;
}

.label-box {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.fruit-checkbox ~ .checkbox-view {
  content: '';
  position: absolute;
  top: 5px;
  right: 10px;
  background: url('../img/check-mark.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.fruit-checkbox + .label-box {
  filter: brightness(100%);
  transition: all 0.3s ease-in-out;
}

.fruit-checkbox:checked + .label-box {
  filter: brightness(50%);
}

.fruit-checkbox:checked ~ .checkbox-view {
  opacity: 1;
}

.fruit-checkbox {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.fruit-checkbox,
.label-box {
  position: absolute;
  top: 0;
  left: 0;
}

.fruit1 .label-box {
  background: url('../img/fruits/orange.jpg');
}

.fruit2 .label-box{
  background: url('../img/fruits/kiwi.jpg');
}

.fruit3 .label-box{
  background: url('../img/fruits/raspberry.jpg');
}

.fruit4 .label-box{
  background: url('../img/fruits/blackberry.jpg');
}

.fruit5 .label-box{
  background: url('../img/fruits/banana.jpg');
}

.fruit-amount-field {
  width: 60px !important;
  height: 30px;
}

.order-field-input:after {
  content: 'Error';
  position: absolute;
  top: 0;
  left: 0;
}

.order-field-input.ng-dirty.ng-invalid {
  border: 1px solid red;
}
